{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% include 'home/slider.html.twig' %}
<div class="position-absolute start-50 translate-middle" style="top : 270px;">
  <h1 class="p-4 text-white border border-white border-5 fw-bold display-1">ABC Legermain</h1>
</div>
<div class="container-fluid">
  <div class="col-12 mx-auto fs-5 p-5" style="background-color : #FEEAA1;">
    <div class="col-12 col-lg-10 mx-auto">
      <p class="text-center">La société Legermain, jeune entreprise alliant créativité et dynamisme, vous propose de mettre son savoir faire à votre service.
      Pour  vos travaux de charpente, couverture, escaliers et autres ouvrages spécifiques faites confiance à deux techniciens du bois, André Legermain et Philippe Troquin habitués à intervenir, notamment, sur des bâtiments classés Monuments Historiques.
      Nous apportons un soin particulier à l’écoute et au conseil, deux points essentiels qui précédent la réalisation de vos ouvrages.
      Réaliser un travail artisanal, respectueux des traditions, tout en accordant notre prestation à votre budget, telle est notre ambition.
      Nous serons également enchantés de répondre à votre demande pour tout ouvrage spécifique, personnalisé ou non conventionnel.
      Afin d’être plus concret, nous vous invitons à découvrir, en images, les ouvrages déjà réalisés.</p>
    </div>
  </div>
  <h2 class="text-center mt-5 lh-lg fs-1 fw-bold" style="letter-spacing : 4px; color : #D6955B;">Dernières réalisations</h2>
  <div class="row col-12 col-xl-10 mx-auto">
  {% for realisation in realisations %}
    <div class="col-12 col-md-6 col-lg-4 mt-4">
      <div class="card  mx-auto" style="width: 19rem; border : 2px solid #D6955B;">
        <img src="/uploads/images/realisation/{{realisation.fichiers|first.url}}" class="card-img-top" style="max-height: 250px;">
        <div class="card-body" style="background-color : #FEEAA1;">
          <h5 class="card-title" style="color : #D6955B;">{{realisation.titre}}</h5>
          <p class="card-text">{{realisation.description}}</p>
        </div>
      </div>
    </div>
  {% else %}
    <p>no records found</p>
  {%endfor%}
    <div class="text-center mt-5">
      <a href="{{ path('realisation_index') }}" class="btn btn-primary border-0" style="background-color : #D6955B;">Voir plus</a>
    </div>
  </div>
</div>
{% include 'footer.html.twig' %}
{% endblock %}