{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <style>
        body {
            height : 1000px;
        }
    </style>
    <form method="post">
        <div class="col-10 col-md-10 col-lg-8 position-absolute start-50 translate-middle" style="background: #18534F; top: 60%; left: 50%;">
            <div class="row" style="background: #ECF8F6;">
                <div class="d-none d-md-flex col-md-6 bg-image">
                    <img src="/img/HPIM2921.jpg" style="width : 100%; height : 100%; object-fit: cover;">
                </div>
                <div class="col-12 col-md-6">
                    <h1 class="h3 mb-3 font-weight-normal" style="margin-left : 30%;">Inscription</h1>
                    <label for="inputNom">Nom</label>
                    <input type="text" name="nom" id="inputNom" class="form-control" required>
                    <br>
                    <label for="inputPrenom">Prenom</label>
                    <input type="text" name="nom" id="inputPrenom" class="form-control" required>
                    <br>
                    <label for="inputDateNaissance">Date de naissance</label>
                    <input type="date" name="dateNaissance" id="inputDateNaissance" class="form-control" required>
                    <br>
                    <label for="inputTel">Téléphone</label>
                    <input type="text" name="tel" id="inputTel" class="form-control" required>
                    <br>
                    <label for="inputEmail">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
                    <br>
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                    <br>
                    {{ form_row(registrationForm.agreeTerms) }}
                    <br>
                    <button class="btn btn-lg btn-primary" type="submit" style="margin-left : 40%;">
                        Inscription
                    </button>
                    <div class="d-flex">
                        <div class="col-8 mx-auto">
                            <img src="/img/logo1.png" style="max-width : 300px; margin : 20px 20px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <form>
{% endblock %}
