{% extends 'base.html.twig' %}

{% block title %}Couvertures{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% include 'home/slider.html.twig' %}
<div class="container-fluid">
    <h2 class="text-center mt-5 lh-lg fs-1 fw-bold" style="color : #D6955B;">Couvertures</h2>
    <div class="col-12 col-md-10 mx-auto fs-4">
        <div class="row g-0 align-items-center">
        <div class="col-12 col-md-5 mx-auto">
            <p>Nous sommes également en mesure de protéger vos demeures des intempéries. Utilisant autant la tuile que l’ardoise ou le bardeau de châtaignier, la société ABC Legermain réalisera la couverture de vos charpentes, en l'agrémentant, si vous le souhaitez de quelques éléments décoratifs. </p>
        </div>
        <div class="col-12 col-md-5 mx-auto"><img src="/img/HPIM2878.jpg" class="img-fluid rounded mw-100"></div>
        </div>
        <div class="row g-0 flex-row-reverse mt-5 align-items-center">
        <div class="col-12 col-md-5 mx-auto">
            <p>Nous sommes également en mesure de protéger vos demeures des intempéries. Utilisant autant la tuile que l’ardoise ou le bardeau de châtaignier, la société ABC Legermain réalisera la couverture de vos charpentes, en l'agrémentant, si vous le souhaitez de quelques éléments décoratifs. </p>
        </div>
        <div class="col-12 col-md-5 mx-auto"><img src="/img/HPIM2879.jpg" class="img-fluid rounded mw-100"></div>
        </div>
    </div>
</div>
{% include 'footer.html.twig' %}
{% endblock %}
