{% extends 'base.html.twig' %}

{% block title %}Charpentes{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% include 'home/slider.html.twig' %}
<div class="container-fluid">
    <h2 class="text-center mt-5 lh-lg fs-1 fw-bold" style="color : #D6955B;">Charpentes</h2>
    <div class="col-12 col-md-10 mx-auto fs-4">
        <div class="row g-0 align-items-center">
        <div class="col-12 col-md-5 mx-auto">
            <p>Les charpentes ABC Legermain couvrent une large gamme de produits (du hangar agricole aux monuments historiques en passant bien sur par la charpente traditionnelle). Elles sont réalisées artisanalement en employant les assemblages traditionnels correspondant aux style et à l’époque de l’ouvrage (tenons mortaise, chevilles en bois...) </p>
        </div>
        <div class="col-12 col-md-5 mx-auto"><img src="/img/HPIM2912.jpg" class="img-fluid rounded mw-100"></div>
        </div>
        <div class="row g-0 flex-row-reverse mt-5 align-items-center">
        <div class="col-12 col-md-5 mx-auto">
            <p>Les charpentes ABC Legermain couvrent une large gamme de produits (du hangar agricole aux monuments historiques en passant bien sur par la charpente traditionnelle). Elles sont réalisées artisanalement en employant les assemblages traditionnels correspondant aux style et à l’époque de l’ouvrage (tenons mortaise, chevilles en bois...) </p>
        </div>
        <div class="col-12 col-md-5 mx-auto"><img src="/img/HPIM2930.jpg" class="img-fluid rounded mw-100"></div>
        </div>
    </div>
</div>
{% include 'footer.html.twig' %}
{% endblock %}
