<footer class="text-white" style="background-color: #18534F;">
    <div class="container-fluid">
        <div class="row align-top" style="margin-top:60px; padding-top : 10px;" >
            <div class="col-12 col-md-6 col-lg-2" style="text-align:center;">
                <img src="/img/logo.png" style="max-height : 150px; margin : auto;" alt="logo">
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h3 style="margin-left : 50px;">Coordonnées</h3>
                <ul style="margin-left : 60px;">
                    <li class="list-unstyled">
                        Zone Artisanale
                        72140 Rouen en Champagne 
                    </li>
                    <li class="list-unstyled">
                        02 47 36 70 34
                    </li>
                    <li class="list-unstyled">
                        infos@legermain.com
                    </li>
                    <br>
                    <li class="list-unstyled"><a href="#" class="text-decoration-none" style="color : white;">
                        Nous contacter
                    </a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h3 style="margin-left : 50px;">Navigation</h3>
                <ul style="margin-left : 60px;">
                    <li class="list-unstyled"><a href="charpentes" class="text-decoration-none text-white">
                        Charpentes
                    </a></li>
                    <li class="list-unstyled"><a href="couvertures" class="text-decoration-none text-white">
                        Couvertures
                    </a></li>
                    <li class="list-unstyled"><a href="ouvrages" class="text-decoration-none text-white">
                        Ouvrages
                    </a></li>
                    <li class="list-unstyled"><a href="#" class="text-decoration-none text-white">
                        Actualités
                    </a></li>
                    <li class="list-unstyled"><a href="#" class="text-decoration-none text-white">
                        Devis
                    </a></li>
                    <li class="list-unstyled"><a href="#" class="text-decoration-none text-white">
                        Postuler
                    </a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <h3 class="align-top" style="margin-left : 50px;">Nous suivre</h3>
                <ul class="align-top" style="margin-left : 60px;">
                    <li class="list-unstyled"><a href="#" class="text-decoration-none text-white">
                        Facebook
                    </a></li>
                    <li class="list-unstyled"><a href="#" class="text-decoration-none text-white">
                        Instagram
                    </a></li>
                    <li class="list-unstyled"><a href="#" class="text-decoration-none text-white">
                        Twitter
                    </a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <ul>
                    <li class="list-unstyled mt-2"><img src="/img/Logos/fondation-du-patrimoine.jpg" style="max-height : 50px; margin : auto;"></li>
                    <li class="list-unstyled mt-2"><img src="/img/Logos/logo_qualibat.png" style="max-height : 50px; margin : auto;"></li>
                    <li class="list-unstyled mt-2"><img src="/img/Logos/logo-maitreartisan.png" style="max-height : 50px; margin : auto;"></li>
                </ul>
            </div>
        </div>
    </div>
</footer>